p {
  font-family: Roboto, Arial;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(96, 96, 96);
  line-height: 18px;
}

body {
  margin: 0;
}

img{
  height: 24px;
  width: 24px;
}